<!DOCTYPE html>
<html lang="en_US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mobot - Personal Assistant of Maateen</title>

    <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS Components -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous">
    <link rel="shortcut icon" type='image/x-icon' href="{{ url_for('static', filename='custom.css') }}">

    <!-- JS Components -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <header class="container">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>I am Mobot, Personal Assistant of Maksudur Rahman Maateen.</p>
            <p><a class="btn btn-primary btn-lg" href="https://m.me/1593438160952167" role="button">Chat with Mobot!</a></p>
        </div>
    </header>
</body>
</html>